@media(max-width:1274px){
.header .header-inner .nav , .header .header-inner .social{
 display: none;

}
nav#nav_menu.nav.nav_menu ul{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;

  padding: 20px;
  margin-left: 40%;

 
}

nav#nav_menu.nav.nav_menu{
display: flex;
background-color: rgb(17, 18, 18);

  position: absolute;
  top: 150px;
  right: 0px;
  width: 500px;
  height: 500px;
  border-radius: 10px;

    
}

.header .navbar{
    /* From Uiverse.io by Cevorob */ 
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
}

.hero{
  display: flex;
  flex-direction: column;
}


/* Container to align multiple buttons horizontally (x-axis) */
 .btn-group{
  display: flex;
  flex-direction: row;
  align-items: center; /* centers along cross-axis (vertical) */
  justify-content: center; /* centers along main axis (horizontal) */
  gap: 12px; /* spacing between buttons */
  flex-wrap: nowrap; /* wrap on small screens */
}

.right-content h1{
  text-align: center;
  font-weight: 800;
}








}
@media(min-width:1275px){
    .header .navbar{
        display: none;
    }
 nav#nav_menu.nav ul li:nth-child(4){
  display: none;
    }



}